header{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 100px 0;
  h1{
    font-size: 40px;
    color: yellowgreen;
    margin: 0;
  }
  .head-content{
    border: 1px solid yellowgreen;
    padding: 20px;
  }
}