/*******************************************/
/**************Hover Effects****************/
/*******************************************/

/**************Color Filter*****************/
.color-filter{
  position: relative;
  a::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: .3s all ease-in-out;
  }
  &:hover a:after{  //after fonctionne pas avec balises autofermantes
    opacity: 0.2;   //prendre a ou figure comme balises
  }
}

/**************Scale Image*******************/
.scale-img:hover img{
  transform: scale(1.2); //overflow hidden sur container
  transition: 1s all ease-in-out;
}

/**************Pop Texte 1********************/
.pop-txt1{
  position: relative;
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellowgreen;
    font-weight: 700;
    font-size: 36px;
    opacity: 0;
    transition: 0.3s all ease-in;
    white-space: nowrap;
  }
  &:hover span{
    opacity: 1;
  }
}

/**************Pop Texte 2********************/
.pop-txt2{
  position: relative;
  div{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%);
    color: #303030;
    background-color: yellowgreen;
    padding: 20px;
    white-space: nowrap;
    text-align: center;
    transition: .4s all ease-in-out;
  }
  &:hover div{
    transform: translate(-50%,0%);
  }
}

/**************Text Backround********************/
.hv3{
  .pop-txt3{
    margin: 0;
  }
  p{
    margin: 0;
    padding: 16px 0;
    transition: .3s all ease-in-out;
  }
}
.hv3:hover{
  p{
    background-color: yellowgreen;
    color: #303030;
    width: 100%;
  }
  
}

/**************Pop Box Cubic Bezier********************/
.pop-box {
  position: relative;
  &::before{
    content: '';
    height: 0;
    width: 0;
    background-color: lightblue;
    border: 2px solid lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  &:hover::before{
    width: 80%;
    height: 80%;
    opacity: 0.3;
  }
}

/**************Lines Mouvements********************/
.lines-moves{
  position: relative;
  &::before{
    content: '';
    width: 60%;
    height: 1px;
    background-color: rgba(255, 249, 249, 0.623);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease-in;
  }
  &:hover::before{
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after{
    content: '';
    width: 60%;
    height: 1px;
    background-color: rgba(255, 249, 249, 0.623);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all ease-in;
  }
  &:hover::after{
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/**************Texte Color********************/
.txt-color{
  a{
    transition: .3s all ease-in-out;
  }
  &:hover a{
    color: crimson;
  }
}

/**************Texte Backround********************/
.txt-backround{
  transition: .3s all ease-in-out;
  a{
    display: inline-block;
    padding: 15px 25px;
  }
  &:hover{
    background-color: crimson;
  }
}
/**************Texte Outline********************/
.txt-outline{
  position: relative;
  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px; //outline and text distance
    left: 0;
    background-color: crimson;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

/**************Burger 1********************/
.burger1{
  transition: .3s all ease-in-out;
  &:hover{
    transform: rotate(180deg);
    box-shadow: inset -3px 0 0 rgb(201, 133, 7), inset 0 -3px 0 rgb(201, 133, 7), inset 3px 0 0 rgb(201, 133, 7), inset 0 3px 0 rgb(201, 133, 7);
  }
  &:hover div:nth-of-type(1),&:hover div:nth-of-type(3){
    width: 30%;
  }
}
/**************Burger 2********************/
.burger2{
  transition: all 0.5s ease-in-out;
  div{
    transition: all 0.3s ease-in-out;
  }
  &:hover{
    box-shadow: inset -3px 0 0 transparent, inset 0 -3px 0 transparent, inset 3px 0 0 transparent, inset 0 3px 0 transparent;
  }
  &:hover div:nth-of-type(2){
    display: none;
  }
  &:hover div:nth-of-type(1),&:hover div:nth-of-type(3){
    top: 50%;
  }
  &:hover div:nth-of-type(1){
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  &:hover div:nth-of-type(3){
    transform: translate(-50%,-50%) rotate(45deg);
  }
}

/************************************************************/


